@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
	background-color: black;
	font-family: 'Gothic A1';
}

#reservation_main{
	background-color: white;
	height: 100vh;
	width: 70vw;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	display: absolute;
	display-content: center;
	align-items: center;
	text-align: center;
}

h1{
	padding-top: 10%;
	text-align: center;
	margin: none;
	font-size: 40px;
	font-weight: 900;
}

h2{
	padding: none;
	font-size: 20px;
	font-weight: 400;
}