@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
	--main-color: #DCD4FF;
	--sub-color: #E9E3FF;
}

body{
	background-color: var(--sub-color);
	font-family: 'Gothic A1';
	padding: 50px;

}

#register_main{
	background-color: var(--main-color);
	color: white;
	height: 50vh;
	width: 30vw;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	flex-direction: column;
	display-content: center;
	align-items: center;
	text-align: center;
	padding-top: 10vh;
	padding-bottom: 20vh;
	border-radius: 20px;
}

h1{
	text-align: center;
	font-size: 40px;
	font-weight: 900;
	width: 80%;
}

h2{
	text-align: center;
	font-size: 20px;
	font-weight: 400;

}

input[type=text],input[type=tel],select{
	display: inline-block;
	margin: 10px;
	padding: 10px 10px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	font-size: 14px;
}

input[type = submit]{
	width: 50%;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	font-size: 16px;
}

